<div  class="pending-homepage row">
<h2 align="center" >Items pending your approval</h2>
  <hr>
 <%= render partial: 'pending_approval', locals: {obj: @pending_approvals} %>
</div>

<div  class="pending-homepage">
  <div>
    <p>Hehheeheh</p>
  </div>
</div>