<div  class="pending-homepage row">
<h2 align="center" >Items pending your approval</h2>
  <hr>
 <%= render partial: 'pending_approval', locals: {obj: @pending_approvals} %>
</div>

<div  class="pending-homepage row">
  <h2 align="center" >Confirmation Log</h2>
  <hr>
  <%= render partial: 'confirmation_log', locals: {obj: @recent_audit_items} %>

  <div class="clear"></div>
  <%= link_to 'View All Items', audit_logs_path, class: 'btn btn-primary' %>
</div>
