<div class="container">
  <div class="row">
    <div class="column col-md-6">
      <div class=" jumbotron employee-blocks">
        <p>ahdhd</p>
      </div>
    </div>

    <div class="column col-md-6">
      <div class=" jumbotron employee-blocks">
        <p>ahdhd</p>
      </div>
    </div>

  </div>
</div>