.pending-homepage{
    background-color: #eee;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}



.homepage-block{


}

.homepage-block > div{
    margin: 10px 0;
    padding: 15px;
    background-color: #0a4d94;
    color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
}
.homepage-block:nth-child(odd) > div{
    background-color: #333;
}

.homepage-block > div:hover{
    background: #660031;
}

.pending-details{
    font-weight: 900;
}