@import "bourbon";

.custom-nav{
  margin-top: 45px;
}

.nav-link.active{
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
  right: auto;
  bottom: auto;
}

.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}

.float-right{
  float: right!important;
}



.gritter-css2 .gritter-close {
  background:asset_url('gritter.png')no-repeat left top!important;
}
.gritter-css3 .gritter-close {
  background:asset_url('gritter-close.png') no-repeat!important;
}

.index-icons{
  font-size: 1.25em;
}
.index-icons:hover{
  text-decoration: none;
  color: #212121;
}

@media (min-width: 768px){
  .ml-md-auto, .mx-md-auto {
    margin-left: auto!important;
  }

}

